<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<header id="header">
		<title>Modie</title>
	</header>
	<body id="main">
		<div id="container">
			<div id="instruct">
				<style>
          @import url('https://fonts.googleapis.com/css?family=Roboto');
					p {
						color: #c84242;
						font-family: 'Roboto', sans-serif;
						font-size: 22px;
						text-align: center;
						font-weight: bold;
					}
				</style>
				<p>Upload a picture of your face</p>
			</div>
			<div id="form">
				<form action = "http://localhost:5000/uploadImage" method = "POST" enctype = "multipart/form-data">
					 <input type = "file" name = "file" />
					 <input type = "submit"/>
				</form>
			</div>
		</div>
  </body>
  <script></script>
</html>