<!DOCTYPE html>
<html>
	<header id="header2">
		<title>Enjoy!</title>
	</header>
	<link rel="stylesheet" href="stylesheet.css">
		<body id="result">
			<div id="container2">
				<div id="instruct">
					<style>
						p {
							color: #c84242;
							font-family: 'Roboto', sans-serif;
							font-size: 22px;
							text-align: center;
							font-weight: bold;
						}
					</style>
					<p>HERE ARE YOUR RESULTS!</p>
				</div>
				<div id="script">
					<script src="result.js"></script>
				</div>
			</div>
		</body>
</html>